@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        list-style-type: none;
        display: inline-block;
    }

    div.imagem {
        position: absolute;
        top: 20%;
        left: 65%;
    }

    div.icons {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
    }

    div.icons img {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}